<!DOCTYPE html>
<html>
  <head>
    <title>Create Message</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/lock-svgrepo-com.svg"/>
  </head>
  <body>
    <%- include("./components/navbar.ejs")%>
    <main class="create-message">
      <h1>Create Message</h1>
      <form id="create-message-form" action="/create-message" method="POST">
          <div class="input-group flex-nowrap">
            <input class="form-control" id="title-input" name="title" type="text" placeholder="Title">
          </div>

          <div class="input-group flex-nowrap">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="auth-btn">Send Message</button>
      </form>
    </main>
  </body>
</html>